<h1>Items for Sale</h1>
<%= link_to 'Create a new item', new_department_item_path(@department) %>

<%= link_to 'Back To Store Menu', department_path(@department) %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, [@department, item] %></li>
  <% end %>
</ul>